@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

$family-sans-serif: 'Inter', sans-serif;
$family-monospace: 'IBM Plex Mono', monospace;

html {
  font-family: $family-sans-serif !important;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  font-family: $family-sans-serif !important;
  font-weight: 300;
}

.araning-dino {
  margin: 1em !important;
}

.araning-dino div {
  font-weight: 600;
  border-bottom: 1.75px solid darkorchid !important;
}

.tgl-id {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.08em;
  font-size: 25px;
}

.tgl-dinpar {
  color: darkgrey;
}

.tgl-dinpar .tgl-din {
  color:rgb(53, 53, 53);
}

.tgl-dinpar .tgl-pas {
  color: darkorchid;
  font-size: .7em;
}

.tgl-title {
  margin-bottom: .5em !important;
  padding-bottom: 10px;
  border-bottom: 1px solid #00d1b2;
  border-width: thick;
}

.tgl-tjk {
  padding-top: 0em !important;
}

.tgl-container {
  height: 50vh;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px 0px;
}

.tgl-container-head {
  //height: 50vh;
  //margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
}

.tgl-container div {
  border: 0px solid grey;
}

.tgl-container div:hover {
  background-color: antiquewhite;
}

.cell {
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

.cell .tgl-num {
  font-weight: 700;
  font-size: 1.7rem;
}

.cell .tgl-dinpar {
  font-weight: 500;
}
.cell-1 {
  background: transparent !important;
}

.app {
  font-weight: 100;
  font-size: .7em;
}

.app span {
  letter-spacing: .47em;
  text-transform: uppercase;
}

.app-info {
  padding: 1rem 1.5rem !important;
  font-family: $family-monospace;
}

.ui {
  padding-top: 0rem !important;
}

// overflow khusus media < 960px
@media screen and (max-width: 960px) {
  .quick-hack-mobile-version {
    overflow: auto;
  }  
}

// paling akhir -- last one
@import '~bulma/bulma.sass';